.heading {
  background-color: bisque;
  padding: 20px;
  text-align: center;
  font-size: 25px;
}
body {
  background-color: whitesmoke;
}
.search {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.card {
  display: inline-block;
}
.item {
  order: 1;
}
.card1 {
  display: flex;
  padding-left: 60px;
}
.card3 {
  display: flex;
  padding-top: 20px;
  width: 500px;
  height: 420px;
  padding-left: 10px;
}
.cardR {
  padding-top: 95px;
  padding-left: 38px;
}
.cardO {
  top: 80px;
}

ul {
  background: rgb(224, 224, 224);
  padding: 20px;
}
ul li {
  background: white;
  margin: 2px;
}
